* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

body {
    background: rgb(15,31,44);
    background: linear-gradient(90deg, rgba(15,31,44,1) 0%, rgba(47,87,38,1) 50%, rgba(15,31,44,1) 100%);
    position: relative;
    height: 100vh;
}