.elimination {
    background-color: black;
}

.yellow-back {
    background-color: rgb(79, 71, 28);
}

.green-back {
    background-color: rgb(28, 79, 28);
}

.elimination-block .elimination-row img {
    margin-right: 20px;
}

.elimination-block .elimination-row h3 {
    border-right: 3px solid white;
    color: white;
}

.elimination-block .elimination-row h1 {
    color: white;
}

.elimination-block .border-bot {
    border-bottom: 3px solid white;
}

.elimination-block .elimination-row:hover {
    transition: all 0.2s ease-in;
    background-color: rgb(72, 72, 72);
}
