.navButton {
    height: fit-content;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    transition: all 0.2s ease-in;
}

.navButton:hover {
    background-color: rgb(59, 59, 59);
}