.principal h2 {
    width: fit-content;
}

.principal .text-container {
    background-color: black;
    border-left: 10px solid white;
}

.principal t {
    padding: 20px;
    text-align: justify;
}

.principal .arrow-st {
    width: 80px;
    filter: brightness(100);
    transform: rotate(180deg);
}

.principal .logo-x-width {
    width: 40px;
    filter: invert(100%);
    transition: all 0.3s ease;
}

.principal .logo-x-width:hover {
    transform: translateX(-3px) translateY(-3px);
    filter: invert(100%) drop-shadow(3px 3px 0px black);
}

.principal .no-hidden {
    opacity: 1;
    transition: all 3s ease;
}

.principal .hidden {
    opacity: 0;
    transition: all 3s ease;
}

.pass-img:hover .no-hidden {
    opacity: 0;
}

.pass-img:hover .hidden {
    opacity: 1;
}

.principal .pass-img img {
    position: absolute;
}