.schendule {
    background-color: black;
    border-left: 8px solid white;
}

.schendule .group1 {
    border-right: 1px solid white;
}

.schendule .group2 {
    border-left: 1px solid white;
}

@media (max-width: 991.98px) {
    .schendule .group1, .schendule .group2 {
        border: none;
    }
}

.schendule .game-row {
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.schendule .game-row:hover {
    background-color: rgb(72, 72, 72);
}

.schendule .result-div {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.schendule .result-div h2 {
    width: 400px;
    margin-bottom: 20px;
    border-radius: 100px;
    border: 2px solid white;
    background-color: black;
}

.schendule .result-div img {
    cursor: pointer;
    width: 50vw;
}

.schendule .result-div h1 {
    color: black;
    background-color: white;
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 70px;
}

.schendule .result-div h1:hover {
    background-color: gray;
}