.schendule {
    background-color: black;
    border-left: 8px solid white;
}

.schendule .group1 {
    border-right: 1px solid white;
}

.schendule .group2 {
    border-left: 1px solid white;
}

@media (max-width: 991.98px) {
    .schendule .group1, .schendule .group2 {
        border: none;
    }
}

.schendule .game-row {
    cursor: pointer;
}

.schendule .game-row:hover {
    background-color: rgb(72, 72, 72);
}