.groups {
    background-color: black;
}

.standing-page h3 {
    background-color: transparent;
}

.standing-page button {
    border: none;
    margin-top: 18px;
    font-weight: bold;
    background-color: black;
    font-size: 20px;
    border-radius: 50px;
    transition: all 0.2s ease-in;
}

.standing-page button:hover {
    background-color: rgb(72, 72, 72);
}