.team-row img{
    width: 70px;
    height: 70px;
}

.team-row {
    cursor: pointer;
    border-top: 3px solid white;
    transition: all 0.2s ease-in;
}

.qualify {
    background-color: rgb(28, 79, 28);
}

.team-row h3 {
    cursor: pointer;
    color: white;
}

.team-row:hover {
    background-color: rgb(72, 72, 72);
}